spring:
  datasource:
    url: jdbc:mysql://<RDS_ENDPOINT>:3306/<DB_NAME>?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: <DB_USER>
    password: <DB_PASSWORD>
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

cloud:
  aws:
    s3:
      bucket: "${S3_BUCKET_NAME}"
    region:
      static: ap-northeast-2
    stack:
      auto: false
    credentials:
      access-key: "${AWS_ACCESS_KEY}"
      secret-key: "${AWS_SECRET_KEY}"

app:
  api-url: ${API_URL:http://a4d052a12d1ed4de2a52da25e6aaf68b-365606936.ap-northeast-2.elb.amazonaws.com:8080}  # 필요 시 백엔드 ELB 주소
  cors:
    allowed-origins: http://k8s-default-a084110f-669abede59-50dcce7293374d93.elb.ap-northeast-2.amazonaws.com